os
subprocess
json
sys
datetime
typing
ipython
numpy
time
pandas
matplotlib
plotly
sklearn
argparse
random
time
yfinance
docx
openpyxl
pickleshare
beautifulsoup4
requests
python-dotenv
openai
perplexityai
